.sidebyside {
    text-align: center;
    width: 120px;
    margin-top: 2px;
    display: inline-block;
    border: 2px solid black;
}
table {
    border: 2px solid black;
}
button {
    width: 25%;
    margin: auto;
}
td { 
    border: 1px solid black;
    width: 2em;
    height: 2em;
    text-align: center;
    vertical-align: middle;
}

div.RedBG   {background-color:#f00;}
div.GreenBG   {background-color:#0f0;}